@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.scroll {
    ::-webkit-scrollbar {
        display: none;
    }
}
.scrollDegin{
    ::-webkit-scrollbar {
        width: 10px;
      }
      ::-webkit-scrollbar-track-piece{
        background-color: lawngreen;;
      }
      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #888;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
}